* {
	box-sizing: border-box;
}

body, h1, p {
	margin: 0;
	padding: 0;
}

header {
	background-color: #5e81d1;

	font-size: 2vh;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav > a {
	color: inherit;
	text-decoration: none;

	font-size: 12px;
}

nav > a:hover{
	text-decoration: underline;
}

.actual {
	font-weight: bold;
}

.informativa {
	background-color: #f87500;
}

.contenido {
	background-color: #ff8d27;
}